<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
        <%# 部分テンプレートでフォームを表示する %>
        <%# <% render partial: "sample", locals: { post: "hello!" } localsというオプションを付けることで、部分テンプレート内でその変数を使えるようになります。%>
        <%= render partial: "form" %>
        <%# 編集完了 %>
    </div>
  </div>
</div>